# common ci conf 2021-09-11
name: Test on Windows

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main, stv ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

      - name: Set up Perl
        run: |
          choco install strawberryperl
          echo "C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin" >> $GITHUB_PATH

      - name: perl -V
        run: perl -V

      - uses: actions/checkout@v2

      - name: Dependencies install-with-cpm
        uses: perl-actions/install-with-cpm@stable
        with:
          cpanfile: "cpanfile"
          sudo: false

      - name: Run Tests
        run: |
          prove -lv t/*.t

      # - name: distzilla and authordeps install-with-cpm
      #   uses: perl-actions/install-with-cpm@stable
      #   with:
      #     install: |
      #       Dist::Zilla::PluginBundle::Basic
      #       Software::License::Perl_5

      # - name: test the distribution
      #   run: dzil test



      # - uses: perl-actions/install-with-cpm@stable

      # - name: "install-with-cpm"
      #   run: cpm install -g --no-test --show-build-log-on-failure --cpanfile cpanfile
      #       abbreviation
      #       ACH
      # # checking that both modules are installed
      # - run: perl -Mabbreviation -e1
      # - run: perl -MACH -e1
